{% extends 'base.html.twig' %}

{% block title %}Inscription professionnelle{% endblock %}

{% block body %}

<div id="page" class="page">

    <!-- main -->
<div class="w3layouts-main bg bg1" title="image : 3000x800" style="background-color: rgb(0, 0, 0); margin-top: 0px; background-image: url(&quot;images/metiers.jpg&quot;);"> 
	<div class="bg-layer cc_cursor">
		<h1 class="editContent cc_pointer" title="Heading">Inscription</h1>
		<div class="header-main editContent cc_pointer" title="Login Form" style="color: rgb(0, 0, 0); font-size: 16px; background-color: rgba(255, 255, 255, 0.04); font-family: Hind, sans-serif; outline: none; cursor: inherit;">
			<div class="main-icon cc_pointer"> <p class="white"> Ajoutez une photo de profil <p>
		</div>
			
			<div class="header-left-bottom">
				<form action="#" method="post">
				<div class="icon1 editContent cc_pointer">
						<span class="fa fa-user" style="outline: none; cursor: inherit;"></span>
						<input type="email" placeholder="Nom" required="">
					</div>
					<div class="icon1 editContent cc_pointer">
						<span class="fa fa-user" style="outline: none; cursor: inherit;"></span>
						<input type="email" placeholder="Prenom" required="">
					</div>
					<div class="icon1 editContent cc_pointer">
						<span class="" style="outline: none; cursor: inherit;"> <img class="img" src="images/mail.svg">
					</span>
						<input type="email" placeholder="Entrez votre adresse email" required="">
					</div>
					<div class="icon1 editContent cc_pointer">
						<span class="fa fa-lock cc_pointer"></span>
						<input type="password" placeholder="mot de passe " required="">
					</div>
					<div class="icon1 editContent cc_pointer">
						<span class="fa fa-lock cc_pointer"></span>
						<input type="password" placeholder="confirmer le mot de passe " required="">
					</div>
					<div class="icon1 editContent cc_pointer">
					<i class="fas fa-map-marker-alt"><img class="img" src="images/map.svg"></i>
						<input type="email" placeholder="Siège social" required="">
					</div>
					<div class="icon1 editContent cc_pointer">
					<i class="fas fa-map-marker-alt"><img class="img" src="images/siret.svg"></i>
						<input type="email" placeholder="N° de Siret" required="">
					</div>
					<div class="icon1 editContent cc_pointer">
					<i class="fas fa-map-marker-alt"><img class="img" src="images/image.svg"></i>
						<input type="file" placeholder="N° de Siret" required="">
					</div>
					<div class="icon1 editContent cc_pointer">
					<i class="fas fa-map-marker-alt"> Selectionnez votre métier </i>
					<select class="Metier">
                    <option id="Plomberie" value="Plombier">Plombier</option>
                    <option id="Menuiserie" value="Menuisier">Menuisier</option>
                    <option id="Electric" value="Electricien">Electricien</option>
                    <option id="Peinture" value="Peintre">Peintre</option>
					<option id="Estheticienne" value="Estheticienne">Estheticienne</option>
				</select>
				
					
					</div>
					<div class="login-check">
						
					</div>
					
					<div id="column" class="links cc_cursor cc_pointer">
					
						<p class="right cc_pointer"><a href="#" class="editContent" style="outline: none; cursor: inherit;"></a> <button class="btn editContent cc_pointer" style="outline: none; cursor: inherit; outline-offset: -2px;">S'inscrire
					</button></p>
						<div class="clear"></div>
					</div>
				</form>	
			</div>
			<div class="social-icons">
				<ul>
				
				</ul>
			</div>
		</div>
		
		
	</div>
</div>	
<!-- //main --></div>




{% endblock %}