@charset "UTF-8";

@font-face {
  font-family: "Oswald";
  src: url(Fonts/Oswald/static/Oswald-Regular.ttf);
}

@font-face {
  font-family: "Oswald-ExtraLight";
  src: url(Fonts/Oswald/static/Oswald-ExtraLight.ttf);
}

@font-face {
  font-family: "PathGoth";
  src: url(Fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(Fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-Light";
  src: url(Fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "Prompt";
  src: url(Fonts/Prompt/Prompt-Regular.ttf);
}

html {
  padding: 0;
  margin: 0;
}

html body {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);}
p{
  font-family: "Prompt";
  color: #fffbfb;
  font-size: 100%;
}
h6{
  font-family: "Prompt";
  color: #ffffff;
  font-size: 150%;
}
.main_nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_nav div:first-child {
  margin: 1.5% 0 0 3%;
  padding: 3% 0 0 0;
  width: 30%;
  height: auto;
  background-color: none;
  border: red 1px solid;
}

.main_nav div:last-child {
  margin: 0 3% 0 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main_nav div:last-child a {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: "Poppins";
  color:#ffffff;
  font-size: 110%;
  padding: 1%;
  margin: 2%;
  text-decoration: none;
  border-radius: 50px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.main_nav div:last-child a:hover {
  background-color: rgba(9, 11, 88, 0.5);
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.main_nav div:last-child div {
  margin: 0;
  padding: 1%;
  width: 6%;
  height: auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

.main_nav div:last-child div:hover {
  background-color: rgba(9, 11, 88, 0.5);
}

.main_nav div:last-child div img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 35%;
  background-color: none;
}

.main_nav div:last-child div img:hover {
  cursor: pointer;
}

header {
  margin: 3% 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header h2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: none;
  font-family: "PathGoth";
  color: rgba(6, 23, 78, 0.616);
  font-size: 170%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 5;
}

header h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: none;
  font-family: "Oswald-ExtraLight";
  color: #fdffff;
  font-size: 300%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  z-index: +1;
}

header form {
  margin: 3% 0 0 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

header form div {
  margin: 2%;
  padding: 0%;
  width: 30%;
  height: auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: #FFFFFF 1px solid;
  border-radius: 100px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

header form div:hover {
  background-color: rgba(9, 11, 88, 0.5);
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

header form div select {
  font-family: "Prompt";
  color: #ffffff;
  font-size: 130%;
  margin: 2%;
  padding: 1.8%;
  width: 100%;
  height: auto;
  background-color: none;
  background: none;
  border: none;
}

header form div select option {
  color: #ffffff;
  font-size: 70%;
}

header form button {
  margin: 2% 0 0 0;
  padding: 0.5%;
  width: 10%;
  height: auto;
  background-color: none;
  font-family: "Prompt";
  color: #ffffff;
  font-size: 95%;
  border: #ffffff 1px solid;
  border-radius: 100px;
  background-color: none;
  background: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

header form button:hover {
  background-color: rgba(9, 11, 88, 0.5);
  text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

 h3{
  font-family: "Oswald-ExtraLight";
  color: #242424;
  font-size: 300%;
}
/* service */
#serv_icon{
  width:100px;
  height: 100px;
  }
  #serv_icon img{
    
  }
/* catégorie image */
/* Zoom In #1 */
.newsgrid figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 40px 40px 40px 40px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border: 0px solid #000000;
}

.newsgrid figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 80px 80px 80px 80px;
  -moz-border-radius: 80px 80px 80px 80px;
  -webkit-border-radius: 80px 80px 80px 80px;
  border: 0px solid #000000;
}

/* actus */
.Découvrir {
  padding: 0;
  width: 80%;
  height: auto;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Découvrir a {
  margin: 3% 0;
  padding: 3% 1.5%;
  width: 100%;
  height: auto;
  background-color: none;
  font-family: "Poppins";
  color: #3309f0;
  font-size: 200%;
  border-radius: 100px;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 3px;
}

.Découvrir a:hover {
  color: #011d24;
}


.Découvrir a:last-child:hover {
  color: #11e8f0;
}

.Découvrir section {
  margin: 3% 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 150px 10px 150px 10px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}


.Découvrir section .Métier {
  margin: 0 0 0 3%;
  padding: 0;
  width: 30%;
  height: 100%;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Découvrir section .Métier img {
  margin: 0;
  padding: 0;
  width: 80%;
  height: auto;
  background-color: none;
  border-radius: 100px 0 0 0;
}

.Découvrir section .Métier span {
  font-family: "Poppins";
  color: white;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 80%;
  height: auto;
  background-color: none;
  text-align: right;
  letter-spacing: 1px;
}

.Découvrir section aside {
  margin: 1%;
  padding: 0;
  width: 65%;
  height: 100%;
  background-color: none;
}

.Découvrir section aside div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.Découvrir section aside div img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: auto;
      -ms-flex-pack: auto;
          justify-content: auto;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
  width: 30%;
  margin-right: 2%;
}

.Découvrir section aside div .Expert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-left: 2%;
  height: auto;
  font-family: "Poppins";
  color: #f1f8f8;
  font-size: 100%;
  text-decoration: none;
}



/* footer */
footer {
  background-image: url(../IMG/Vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.ctnr_footer {
  margin-top: 20%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
}


/*foot1*/
.foot1 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.box_titre_foot1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  color: white;
  font-family: Rimouski;
  font-size: 20px;
  text-align: center;
}

.box_btn_foot1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  margin-bottom: 50px;
}

.box_btn_foot1_1,
.box_btn_foot1_2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.news_button {
  background-color: #FFFFFF;
  border-radius: 28px;
  color: black;
  font-family: Arial;
  font-size: 10px;
  padding: 10px 30px;
  text-decoration: none;
}

.news_button2 {
  background-color: #FFFFFF;
  border-radius: 28px;
  color: black;
  font-family: Arial;
  font-size: 10px;
  padding: 10px 30px;
  text-decoration: none;
}

/*foot2*/
.foot2 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;

}

.box_titre_foot2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  color: white;
  font-family: Rimouski;
  font-size: 20px;
}

.box_texte_foot_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.texte_foot2 {
  color: white;
  text-align: center;
  margin-bottom: 50px;
}


/*foot3*/
.foot3 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}

.box_titre_foot3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  color: white;
  font-family: Rimouski;
  font-size: 20px;
}


.box_texte_foot3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.texte_foot3 {
  text-align: center;
  margin-bottom: 50px;
}

.foot4 {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  margin-top: 70px;
}

.box_titre_foot4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  color: white;
  font-family: Rimouski;
  font-size: 20px;
  text-align: center;
}


.box_tel_foot4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  color: white;
}


.box_texte_foot4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}